# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/

# Environment variable file
.env

# OS/macOS files
.DS_Store

# VSCode or JetBrains config
.vscode/
.idea/

# Logs
*.log

# Test / coverage outputs
.coverage
htmlcov/
.tox/
.cache/
pytest_cache/

# Python packaging
dist/
build/
*.egg-info/
